
.FormInfoBody{
  padding: 0 6%;
}

.FormInfoBody>p.Title{
  margin-top: 40px;
  margin-bottom: 5px;
}

.FormInfoPayement .Securised{
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}
.FormInfoPayement .Securised>img{
  height: 20px;
  width: 20px;
}
.FormInfoPayement .Securised>p{
  color: var(--greennormal);
}


.FormInfoPayement .label{
  margin-top: 15px;
}
.FormInfoPayement .InputText{
  border: 1px solid #ddd;
  padding: 12px 10px;
  color: var(--greydark);
  border-radius: 10px;
  margin-top: 8px;
  width: 100%;
  font-size: 16px;
  /* margin-bottom: 30px; */
}
.FormInfoPayement .InputText:focus {
  outline: none;
  border: 1px solid var(--greysemidark);
      border-color: var(--greymiddledark);

  padding: 12px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}


.FormInfoPayement .InputText.error {
    border: 1px solid var(--rednormal);
}

.FormInfoPayement .error-message {
    color: var(--rednormal);
    font-size: 12px;
    margin-top: 4px;
}

.FormInfoPayement .PhoneInput{
  margin-bottom: 10px;
  font-size: 16px;
}
.FormInfoPayement .PhoneInput.error .PhoneInputInput {
  border: 1px solid var(--rednormal);
}

/* Supprime toute image de fond par défaut */
/* .FormInfoPayement .PhoneInputCountryIcon svg:first-child {
  display: none;
} */
/* .FormInfoPayement .PhoneInputCountryIcon {
  background-image: url('/src/assets/images/PhoneCall.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

/* .FormInfoPayement .PhoneInputCountryIcon svg {
  display: none;
} */


.FormInfoPayement .info{
  opacity: 0.6;
}
.FormInfoPayement .SuivantButton+.info{
  margin-bottom: 40px;
}


.FormInfoPayement .SuivantButton{
  background: linear-gradient(180deg, #545454, #373737);
  font-weight: lighter;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: calc(100% - 200px);
  color: white;
  padding: 10px 16px;
  margin: 0 auto;
  /* margin-left: auto; */
  /* margin-right: 6%; */
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}
