.NotificationPage{
    padding: 60px 6%;
}
.NotificationPage .hline{
    height: 0.7px;
}

.NotificationPage>p{
    margin-bottom: 8px;
}
.NotificationPage .SettingsBox{
  background-color: white;
  border: 1px solid var(--greysemidark);
  border-radius: 10px;
}
.NotificationPage .SettingsBox .SettingsRow{
  padding: 15px;
  justify-content: space-between;
  gap: 20px;
}
.NotificationPage .SettingsBox .SettingsRow>.RowFirst{
  gap: 15px;
  flex: 1;
}
.NotificationPage .SettingsBox .SettingsRow>.RowFirst>.column{
  gap: 2px;
}
.NotificationPage .SettingsBox .SettingsRow>img{
  height: 12px;
}
.NotificationPage .SettingsBox .RowFirst>img{
  height: 25px;
}


.NotificationPage .switch{
    background: var(--greysemidark);
    padding: 4px;
    width: 40px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}
.NotificationPage .switch>div{
    background: white;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}


.NotificationPage .switch.open{
    background: var(--lineargradientgreenRight);
}
.NotificationPage .switch.open>div{
    margin-left: 12px;
}
/* .AvailabilityEditor .DayContainer.open{
    background-color: white;
    border: 1px solid var(--greysemidark);
} */




.NotificationPage  .SaveButton {
    background: linear-gradient(180deg, #545454, #373737);
    color: #ffffff;
    padding: 7px 16px;
    font-size: 1rem;
    font-weight: lighter;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 1s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    align-self: center;
    font-size: 0.8rem;
    margin-top: 35px;
  }
.NotificationPage .SaveButton>p {
  color: white;
}
.NotificationPage .SaveButton>img {
  width: 15px;
  height: 15px;
}
.NotificationPage .SaveButton:hover {
    background: linear-gradient(180deg, #373737, #545454);
  }
  