/*:root{
    --menuVisibleLenght: 300px;
    --menuInvisibleLenght: 80px;
}*/

:root{
    --bgprincipal: #F5F9FF;
    --paddingX: 40px;
}



.ContentAreaContainer{
    background-color: var(--bgprincipal);
    margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-left: 300px;
    transition: margin-left 0.5s ease, width 0.5s ease;
         /* ou une hauteur fixe si besoin */
    /*width: calc(100vw - var(--menuVisibleLenght));*/
}

.ContentAreaContainer.MenueInVisible{
    margin-left: 80px;
    /*width: calc(100vw - var(--menuInvisibleLenght));*/
}

.Map2DContainer{
    width: 100%; 
    /* height: calc(100vh - 80px);   */
    /* height: 100vh; */
    overflow: hidden; 
    border-radius: 20px;
    padding: var(--paddingX);
    box-sizing: border-box;

}

