.GenerateQRCodesContainer{
    position: relative;
    min-height: 100vh;
}

.GenerateQRCodesContainer .t3{
    padding: 2rem;
}

.GenerateQRCodesContainer>button{
    position: absolute;
    right: 2rem;
    top: 2rem;
    background: linear-gradient(180deg, #545454, #373737);
    color: #ffffff;
    padding: 7px 16px;
    font-size: 1rem;
    font-weight: lighter;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 1s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
  
.GenerateQRCodesContainer>button:hover{
    background: linear-gradient(180deg, #373737, #545454);    
}



.genqrGreyOverlay{
    background-color: rgba(0, 0, 0, 0.4);
   /* backdrop-filter: blur(4px); */
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genqrContainer{
    background-color: white;
    max-width: 450px;
    width: 100%;
    position: relative;
    padding: 1.5rem;
    padding-top: 1rem;
    border-radius: 12px;
    height: fit-content;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transition: height 1s ease;
}

.genqrContainer .t3{
    padding-top: 0%;
    padding-bottom: 0.8rem;
    color: var(--blacknormal);
}
.closeButton{
    /* background-color: var(--greylight);   */
    /* border-radius: 100px; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
}

.closeButton img{
    width: 13px;
    height: 13px;
}


  .genqrContent {
    --borderradius: 6px;
    padding-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  
  /* Style des champs de saisie */
  .genqrContent input {
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: var(--borderradius);
    background-color: var(--greyverylight);
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
  }
  
  .genqrContent input::placeholder {
    color: var(--greymiddledark);
  }
  
  .genqrContent input:focus {
    border-color: var(--greymiddledark);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style du bouton */
  .genqrContent button {
    background: linear-gradient(180deg, #545454, #373737);
    color: #ffffff;
    padding: 7px 16px;
    font-size: 1rem;
    font-weight: lighter;
    border: none;
    border-radius: var(--borderradius);
    cursor: pointer;
    transition: background 1s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .genqrContent button:hover {
    background: linear-gradient(180deg, #373737, #545454);
  }
  