.TestHeight{
    height: 100vh;
    width: fit-content;
    background-color: red;
    position: fixed;
    top: 0;
    z-index: 100;
    border: 2px solid rgb(0, 229, 255);
}
.TestHeight.TestHeight1{
    background-color: orange;
}
.TestHeight.TestHeight2{
    left: 80px;
    background-color: blue;
    height: 100%;
}

.TestHeight.TestHeight3{
    left: 160px;
    background-color: yellow;
    height: 100vh;
}
.TestHeight.TestHeight4{
    left: 240px;
    background-color: green;
    height: 100%;
}