.SettingsPageContianer>.t2{
    padding-top: 60px;
    padding-left: 10px;
    font-weight: bold;
}


.SettingsPageContianer .SettingsListContainer{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 10px;
}
.SettingsPageContianer .SettingsListItem{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.SettingsPageContianer .SettingsListItem>.SettingsRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.SettingsPageContianer .SettingsListItem>.SettingsRow>.RowFirst{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.SettingsPageContianer .SettingsListItem>.SettingsRow>.RowFirst>img{
  width: 30px;
  height: 30px;
}
/* .SettingsPageContianer .SettingsListItem>.SettingsRow>.RowFirst>p{
  font-weight: bold;
} */

.SettingsPageContianer .SettingsListItem>.SettingsRow>img{
  width: 15px;
  height: 15px;
}


#DeleteAccount{
  background: linear-gradient(180deg, var(--rednormal), #f3817b);
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--rednormal);
}
#DeleteAccount:hover {
    background: linear-gradient(180deg, #f3817b, var(--rednormal));
  }
#DeleteAccount>p{
  color: white;
  text-align: center;
}


.PopupWrapper {
  position: fixed;
  inset: 0;
  background-color: rgba(213, 213, 213, 0.3);
  backdrop-filter: blur(3px);
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.SettingOpenPopUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 300px;
  margin: 0 auto;
  border: 1px solid var(--greysemidark);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08); 
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)!important;
  z-index: 10; 
}

.SettingOpenPopUp .ContainerIcon{
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
.SettingOpenPopUp .ContainerIcon>.MyBackground{
  /* background: linear-gradient(180deg, #e1e1e2af 0%, transparent 75%, transparent 100%); */
  background: linear-gradient(180deg, #e1e1e29c 0%, transparent 75%, transparent 100%);
  border-radius: 100px;
  height:73px;
  width: 73px;
}
.SettingOpenPopUp .ContainerIcon>img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 50px;
  width: 50px;
  padding: 12px;
  background-color: white;
  border: 1.5px solid #acadb2b9;
  border-radius: 100px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.4;
}

.SettingOpenPopUp>.t4{
  font-weight: bold;
  text-align: center;
  margin-bottom: 4px;
}
.SettingOpenPopUp>.t6{
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

.SettingOpenPopUp .rowButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.SettingOpenPopUp .rowButton>button{
  padding: 8px 16px;
  margin: 15px;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}


.SettingOpenPopUp .rowButton>.cancelButton{
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: var(--greyverylight);
  color: var(--greymiddledark);
  margin-right: 8px;
} 
.SettingOpenPopUp .rowButton>.deleteAccountButton{
  background-color: transparent;
  font-size: 14px;
  border: 1px solid var(--rednormal);
  background: linear-gradient(180deg, var(--rednormal), #f3817b);
  color: white;
  margin-left: 8px;

} 
.SettingOpenPopUp .rowButton>.deleteAccountButton:hover{
  background: linear-gradient(180deg, #f3817b, var(--rednormal));

} 
.SettingOpenPopUp .hline{
  background-color: var(--greysemidark);
}
