.FilterElement{
    /* background-color: red; */
    width: 100%;
    /* padding-bottom: 50px; */
}
.FilterElement>p{
    text-align: center;
    margin-bottom: 20px;
}
.FilterElement>.column{
    margin-bottom: 20px;
}
.FilterElement>.column>p{
    margin-bottom: 10px;
}
.FilterElement .ApplieContainer{
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 15px;
    right: 15px;
}

.FilterElement .ApplieContainer>.row{
  margin-top: 15px;
  margin-bottom: 15px;
  gap: 8px;
}
.FilterElement .Applie{
    background: var(--lineargradientblack);
    padding: 15px ;
    border: none;
    border-radius: 100px;
    width: 100%;
    cursor: pointer;
}
.FilterElement .Applie>p{
    color: white;
}

.FilterElement .Reset{
    background: white;
    padding: 15px ;
    border: none;
    border-radius: 100px;
    width: 100%;
    cursor: pointer;
    border: 1px solid var(--greysemidark);
}


.FilterElement .ColumnCalendar>.OpenCalendar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.FilterElement .ColumnCalendar>.OpenCalendar>img{
    height: 23px;
    width: 23px;
}



.FilterElement .AllCategories{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 6px; /* écart horizontal */
    row-gap: 8px;
}

.FilterElement .categorieButton{
    background: transparent;
    border: 1px solid var(--greysemidark);
    border-radius: 100px;
    padding: 8px 10px;
    cursor: pointer;
}
.FilterElement .categorieButton>p{
    /* white-space: nowrap; */
    text-align: start;
}
.FilterElement .categorieButton.selected{
    background: var(--lineargradientgreen);
}
.FilterElement .categorieButton.selected>p{
    color: var(--greennormal);
}




.FilterElement .Participants{
    margin-top: 25px;
    margin-bottom: 0;
}
.FilterElement .AllMoments{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}
.FilterElement .AllMoments>.momentButton{
    background-color: transparent;
    flex-grow: 1;
    border-radius: 10px;
    border: 1px solid var(--greysemidark);
    cursor: pointer;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.FilterElement .AllMoments>.momentButton.selected{
    border: 1px solid var(--greydark);
}
.FilterElement .AllMoments>.momentButton>img{
    height: 30px;
    align-self: flex-start;
}
.FilterElement .AllMoments>.momentButton>p{
    text-align: start;
}



.FilterElement .Participants{
    /* gap: 10px; */
}
.FilterElement .rowAddParticipant{
    justify-content: space-between;
    margin-bottom: 10px;
}
.FilterElement .rowAddParticipant>.row>.buttonParticipant{
  border-radius: 100px;
  /* background: linear-gradient(to bottom, #b5edb1, var(--greenlight)); */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  height: 1.8rem;
  width: 1.8rem;
  border: 1px solid var(--greysemidark);
  cursor: pointer;
}
.FilterElement .rowAddParticipant>.row>.buttonParticipant>p{
  font-family: "cookie";
}
.FilterElement .rowAddParticipant>.row>.buttonParticipant:disabled{
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--greylight);
}

.FilterElement .rowAddParticipant>.row>p{
  min-width: 0.8rem;
  text-align: center;
}
.FilterElement .rowAddParticipant>.row{
  gap: 8px;

}










.FilterElement .rdp-root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --rdp-accent-color: red;
    --rdp-today-color: var(--greydark);
    --rdp-selected-border: none;/*Bordure du jour selectionné*/
    --rdp-day_button-height: 37px;
    --rdp-day_button-width: 37px;
    /* background-color: var(--greylight); */
   
    width: fit-content;
    background-color: white;
    border-radius: var(--borderRadius);
}
/* .FilterElement .rdp-months{
    min-width: 100%;
}
.FilterElement .rdp-weekday{
    width: 100%;
} */
.FilterElement .rdp-today{
  position: relative;
}

.FilterElement .rdp-caption_label {
  text-transform: capitalize;
}

.FilterElement .rdp-today::before {
  /* content: "Aujourd'hui"; */
  content: var(--today-label);
  position: absolute;
  top: 1.8rem;
  left: calc(50% - 0px);
  /* transform: translateX(-50%) scale(1); ordre important */
  transform: translateX(-50%)  scale(1); /* ordre important */
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
  transition: all 0.3s ease-out;
}
.FilterElement .rdp-today.rdp-selected::before {
  top: 2.5rem;
  /* transform: translateX(-50%) scale(0.8); */
  transform: translateX(-50%)  scale(0.8);
  color: var(--blacknormal);
}
.FilterElement .rdp-today.day-has-slots::after {
  display: none;
}


.FilterElement .rdp-day_button{
    font-size: 0.825rem;
    transform: scale(1);
    transition: transform 0.2s ease;
}

.FilterElement .rdp-day {
  text-align: center; /* centre le contenu dans la cellule */
  color: var(--greydark);
}
.FilterElement .rdp-day.day-has-slots {
  color: var(--greennormal);
}
.FilterElement .rdp-day.day-has-slots.red {
  color: var(--rednormal);
}


.FilterElement .rdp-day_button {
  display: block;
  margin: 0 auto; /* centre horizontalement le bouton */
}

.FilterElement .rdp-selected>.rdp-day_button{
    border-radius: 100px;
    background: linear-gradient(180deg, #696969, #373737);
    /* background-color: white; */
    color: white;
    font-weight: 100;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    display: block;
    margin: 0 auto;
}

.FilterElement .rdp-selected.day-has-slots::after{
    display: none;
}

.FilterElement .rdp-disabled{
    opacity: 0.3;
}

/* Cache les chevrons par défaut */
.FilterElement .rdp-nav svg {
  display: none;
}

/* Applique tes propres flèches */
.FilterElement .rdp-button_previous::before {
  content: '';
  display: inline-block;
  background-image: url('../../../assets/images/arrowLeft.png');
  background-size: contain;
  width: 13px;
  height: 13px;
}

.FilterElement .rdp-button_next::before {
  content: '';
  display: inline-block;
  background-image: url('../../../assets/images/arrowRight.png');
  background-size: contain;
  width: 13px;
  height: 13px;
}


.FilterElement .rdp-caption_label{
  font-weight: 500;
  margin-left: 10px;
}

/* Forcer chaque colonne à se répartir également */
.FilterElement .rdp-month_grid {
  table-layout: fixed; /* important pour que les colonnes aient une largeur fixe uniforme */
  width: 100%;         /* ← prend toute la largeur dispo */
}

.FilterElement .rdp-weekdays th,
.FilterElement .rdp-day {
  width: auto; /* 100% ÷ 7 jours = ~14.29% */
  /*width: 14.285%; 100% ÷ 7 jours = ~14.29% */
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
