.HomeContainerPrincipal{
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: relative;
}
.HomeContainerPrincipal {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.HomeContainerPrincipal::-webkit-scrollbar {
  display: none; 
} 
.LogoContainerAnimation {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  /* background-color: purple; */
  opacity: 1;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: top 1s ease-in-out, opacity 1s ease-in-out; */
}

/*
.LogoContainerAnimation.appear {
  transition: opacity 1s ease-in;
  opacity: 1;
}
*/
.LogoContainerAnimation.disappear {
  transition: top 0.8s ease-out, opacity 0.5s ease-in;
  /* top: -100vh; */
  opacity: 0;
}



.LogoContainerAnimation>.LogoContainer{
  width: 60px;
  height: 60px;
  /* background-color: blue; */
}
.LogoContainerAnimation>.LogoContainer>img{
  width: 100%;
  opacity: 0; 
  transition: opacity 1s ease-in-out;
}
.LogoContainerAnimation>.LogoContainer>img.loaded{
  opacity: 1; 
}
/*
.LogoContainerAnimation.popIn {
  animation: popIn 0.8s ease-out forwards;
}
.LogoContainerAnimation.goUp {
  animation: goUp 1s ease-out forwards;
}
@keyframes popIn {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  33% {
    transform: translate(-50%, -50%) scale(0.7);
  }
  66% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes goUp {
  0% {
    transform: translate(-50%, -50%);
  }
  30% {
    transform: translate(-50%, 80%);
  }
  100% {
    transform: translate(-50%, -100vh) scale(0.6);
  }
}*/



.HomeContainerPrincipal .IntroUIContainer{
  --marginP: min(100vw, 500px);
  width: 100%;
  margin-top: calc(var(--marginP)/8);
  margin-bottom: 40px;
}
.HomeContainerPrincipal .IntroUIContainer>.Images{
  width: 100%;  
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.HomeContainerPrincipal .IntroUIContainer>.Images>.ImageWrapper{
  width: 40%;
  /* max-width: 140px; */
  aspect-ratio: 0.75;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.14);
  /* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); */

  /* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 2px 20px rgba(0, 0, 0, 0.07); */
  display: flex;
  flex-direction: column;
  background-color: var(--greylight);
  border: 3px solid white;
  transition: box-shadow 0.6s ease-in-out;
}
.HomeContainerPrincipal .IntroUIContainer>.Images>.ImageWrapper.loading{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  outline: 1px solid var(--greysemidark);
}
.HomeContainerPrincipal .IntroUIContainer>.Images>.ImageWrapper>img{
  width: 100%;
  height: 100%;
  border-radius: 17px;
  object-fit: cover;
}
.HomeContainerPrincipal .IntroUIContainer>.Images>.ImageWrapper:first-of-type{
  transform: rotate(-4deg) translateX(80%) ;
}
.HomeContainerPrincipal .IntroUIContainer>.Images>.ImageWrapper:last-of-type{
  transform: rotate(7deg) translateX(-80%) translateY(40%);
}

.HomeContainerPrincipal .IntroUIContainer>p{
  text-align: center;
  /* width: 70%; */
  /* min-width: 200px; */
  margin: 0 auto;
  margin-top: calc(var(--marginP)/4);
}




.HomeContainer{
  min-height: 100vh;
  width: 100%;
  
  position: relative;
  /* top: 5vh;
  opacity: 0;
  background-color: orange; */

  opacity: 1;
  top: 0;
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.HomeContainer.visible{
  opacity: 1;
  top: 0;
}
.HomeContainer.slideUpHome{
    /* background-color: rgba(255, 0, 0, 0.1); TEST */

/* animation: slideUpHome 0.8s cubic-bezier(0, 0, 0.1, 1) forwards; */
animation: slideUpHome 0.8s ease forwards;
}
@keyframes slideUpHome {
  
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}


.HomeContainer .SelectingToday{
  width: 88%;
  height: fit-content;
  margin: 0 auto;
  border-radius: 38px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1;
  background-color: var(--greylight);
  transition: box-shadow 0.6s ease-in-out;
}
.HomeContainer .SelectingToday.loading{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  outline: 1px solid var(--greysemidark);
}
.HomeContainer .SelectingToday>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 38px;
}
.HomeContainer .SelectingToday>img.loading{
  opacity: 0;
  transition: opacity 0.4s ease;
} 
.HomeContainer .SelectingToday>img.loaded{
  opacity: 1;
  transition: opacity 0.4s ease;
} 
.HomeContainer .SelectingToday>button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    cursor: pointer;
}
.HomeContainer .SelectingToday>button>img {
    height: 20px;
    width: 20px;
}
.HomeContainer .SelectingToday>.InfoOffer {
    --margin: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: calc(100% - 2*var(--margin));
    bottom: var(--margin);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    backdrop-filter: blur(10px); /* ⬅️ le flou ici */
    -webkit-backdrop-filter: blur(10px); /* Safari */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* (optionnel) pour plus de contraste */
    height: 3.5rem;
    padding-left: 15px;
    gap: 15px;
    justify-content: space-between;
    cursor: pointer;
}
.HomeContainer .SelectingToday>.InfoOffer .column {
  gap: 3px;
}
.HomeContainer .SelectingToday>.InfoOffer p.maxLine {
  color: white;
  -webkit-line-clamp: 1;
}
.HomeContainer .SelectingToday>.InfoOffer .adresse {
  gap: 2px;
  opacity: 0.6;
  align-items: center;
}
.HomeContainer .SelectingToday>.InfoOffer .adresse>img {
    height: 13px;
    width: 13px;
}
.HomeContainer .SelectingToday .GoTo {
    height: max-content;
    background: var(--lineargradientblack);
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-right: 0.5rem;
}
.HomeContainer .SelectingToday .GoTo>img {
  height: 13px;
  width: 13px;
  filter: invert(1);
}
.HomeContainer .SelectingToday .Squelleton {
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--greylight);
  border-radius: 36px;
  border: 1px solid var(--greysemidark);
}





.HomeContainer .ConnectYourSelf{
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: calc(7rem + 90px);
  overflow: hidden;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.HomeContainer .ConnectYourSelf.close{
  max-height: 0;
  margin: 0 auto;
  opacity: 0;
}
.HomeContainer .ConnectYourSelf>p{
  text-align: center;
  margin-bottom: 10px;
}
.HomeContainer .ConnectYourSelf>p:first-of-type{
  margin-bottom: 20px;
}
.HomeContainer .ConnectYourSelf .Signup {
    background: linear-gradient(180deg, #545454, #373737);
    padding: 10px 16px;
    border: none;
    border-radius: var(--borderradius);
    cursor: pointer;
    border-radius: 30px;
    margin-top: 15px;
}

.HomeContainer .ConnectYourSelf .Signup>p {
  color: white;
}

.ConnectYourSelf .row{
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.ConnectYourSelf .line{
  background-color: var(--greysemidark);
  height: 1px;
  flex-grow: 1;
}
.ConnectYourSelf .Login{
  background-color: transparent;
  border: none;
  width: fit-content;
  margin: 0 auto;
}
.ConnectYourSelf .Login>p{
  text-align: center;
}




.freeConcelation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.07);
}
.freeConcelation>.hline:first-of-type{
  margin-bottom: 20px;
}
.freeConcelation>.hline:last-of-type{
  margin-top: 20px;
}

.freeConcelation p{
  text-align: center;
}
/* .freeConcelation button{
  background: var(--lineargradientgreen);
  border-radius: 8px;
  padding: 7px 14px;
  border: none;
  margin-top: 10px;
}
.freeConcelation button>p{
  color: white;
} */

.HomeSectionContainer>.t4{
  padding-left: 15px;
  padding-top: 25px;
}
.HomeSectionContainer>.t6{
  padding-left: 15px;
  padding-top: 10px;
}
.HomeSectionContainer>.row{
  padding-left: 15px;
  /* padding-right: 15px; */
  padding-top: 5px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.HomeSectionContainer>.row>button{
  background-color: transparent;
  border:  none;
  padding: 10px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.HomeSectionContainer>.row>button>img{
  height: 15px;
}



.ViarteIntro{
  background: var(--lineargradientblack);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}
.ViarteIntro>img{
  height: 35px;
  width: 35px;
  margin-left: 10px;
}
.ViarteIntro>.row{
  gap: 15px;
  margin-right: 15px;
}
.ViarteIntro>.row>.vline{
  height: 25px;
  width: 1px;
  border-radius: 10px;
  background-color: white;
}
/* .ViarteIntro>.row>p{
  font-family: 'Cookie';
  font-weight: 100;
  font-size: 1.2rem;
  color: white;
  margin-top: 3px;
} */
.ViarteIntro>.row>img{
  height: 17px;
}

.TopContainer{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  padding-top: 15px;
}
.TopContainer>.hline{
  opacity: 0.6;
}
.TopContainer>.row{
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 10px;
}
.TopContainer .FilterButton{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--greysemidark);
  border-radius: 100px;
  padding: 6px;
  margin-right: 4%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  background-color: var(--greylight);
}
.TopContainer .FilterButton>img{
  height: 20px;
  opacity: 0.4;
}

#DivSpace{
  height: 20px;
  width: 10px;
}




/*///////////////////////////////IntroImage*/

.HomeSectionContainer .IntroImage{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.HomeSectionContainer .IntroImage>.t1{
  font-family: "Cookie";
  font-weight: 100;
  /* font-size: 2.4rem; */
}
.HomeSectionContainer .IntroImage .ContainerCenter{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 210px; */
  aspect-ratio: 9/6;
  overflow: hidden;
  top: -10px;
}
.HomeSectionContainer .IntroImage .ContainerCenter>img{
  width: 40%;
  /* height: 180px; */
  aspect-ratio: 9/12;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  bottom: 0;
  position: absolute;
  z-index: 4;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); */
  /* border: 3px solid white; */
  border-bottom: none;
  background-color: var(--greylight);
}
.HomeSectionContainer .IntroImage .ContainerCenter>img:first-of-type{
  /* box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.1); */
  width: 30%;
  aspect-ratio: 9/12;
  left: 50%;
  transform: translateX(30%);
  z-index: 1;
}
.HomeSectionContainer .IntroImage .ContainerCenter>img:last-of-type{
  width: 30%;
  aspect-ratio: 9/12;
  right: 50%;
  transform: translateX(-30%);
  z-index: 1;
  /* box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.1); */
}

.HomeSectionContainer .IntroImage .ContainerCenter>img.loading{
  opacity: 0;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
  transition: opacity 0.4s ease;
}
.HomeSectionContainer .IntroImage .ContainerCenter>img.loaded{
  opacity: 1;
  box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.1);
  transition: opacity 0.4s ease;
} 



.HomeSectionContainer .IntroImage .ContainerCenter>.SkeletonImage{
  width: 40%;
  /* height: 180px; */
  aspect-ratio: 9/12;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  bottom: 0;
  position: absolute;
  z-index: 3;
  /* box-shadow: 0 4px 40px rgba(255, 255, 255, 0.6); */
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--greysemidark);
  /* background-color: var(--greylight); */
  background-color: #f7f8fa;
  border-bottom: none;
}
.HomeSectionContainer .IntroImage .ContainerCenter>.SkeletonLeft{
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.03);
  width: 30%;
  aspect-ratio: 9/12;
  left: 50%;
  transform: translateX(30%);
  z-index: 1;
}
.HomeSectionContainer .IntroImage .ContainerCenter>.SkeletonRight{
  width: 30%;
  aspect-ratio: 9/12;
  right: 50%;
  transform: translateX(-30%);
  z-index: 1;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.03);
}




.HomeSectionContainer .IntroImage .ContainerCenter>.Shadow{
  width: 90%;
  height: 50px;
  border-radius: 100%;
  bottom: -80px;
  position: absolute;
  z-index: 4;
  box-shadow: 0 -40px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s ease-in-out;
}
.HomeSectionContainer .IntroImage .ContainerCenter>.Shadow.loading{
  box-shadow: 0 -40px 15px rgba(0, 0, 0, 0.03);
}



.HomeSectionContainer .IntroImage .SkeletonCity{
  width: 100px;
  height: 2.4rem;
  background-color: var(--greylight);
  border-radius: 10px;
  position: relative;
}
.HomeSectionContainer .IntroImage .ContainerSkeleton{
  height: 3.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




