.PopUpBottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
  z-index: 12;
  background-color: white;
  height: fit-content;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: transform 0.5s ease-out; /* 👈 C'est ça qu'on anime maintenant */
  max-width: 500px;
  padding-top: 55px;
  height: auto;
  border-top: 1px solid var(--greysemidark);
  /* display: flex;
  flex-direction: column; */
    max-height: calc(100% - 40px); /* 👈 limite haute */
  overflow: visible; /* 👈 pas besoin de scroll ici */

}


.PopUpBottom.fullHeight{

}
.PopUpBottom.fullHeight .bodyPopUpBottom{
  max-height: 100%;
  overflow: auto;
  /* flex: 1; */
}

.PopUpBottom.open {
  transform: translateY(0) translateX(-50%);
}

.PopUpBottom>.HeadContainer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.PopUpBottom>.HeadContainer>.closeButton{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.PopUpBottom>.HeadContainer>.centerBar{
  height: 5px;
  width: 50px;
  border-radius: 100px;
  background-color: var(--greylight);
  margin: 25px auto;
  border: 1px solid var(--greysemidark);
}
.PopUpBottom>.HeadContainer>p{
  padding: 0 50px;
}
.PopUpBottom>.HeadContainer>.closeButton>img{
  width: 12px;
  height: 12px;
}
.PopUpBottom>p{
  text-align: center;
  margin-top: 18px;
  font-weight: bold;
}
.PopUpBottom>.row{
  justify-content: center;
  align-items: end;
  margin-top: 18px;
  gap: 0.7px;
}
.PopUpBottom>.row>p{
  text-align: center;
  font-weight: bold;
}
.PopUpBottom>.row>img{
  height: 1rem;
}
.PopUpBottom .PopUpLine{
  height: 0.5px;
  width: calc(100% - 30px);
  margin-top: 15px;
  margin-left: 15px;
  background-color: var(--greysemidark);
}


.PopUpBottom .bodyPopUpBottom{
  width: 100%;
  padding: 15px;
  /* max-height: calc(100% - 40px); */
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: inherit; /* 👈 récupère le max du parent */
  overflow-y: auto;    /* 👈 scroll uniquement si nécessaire */


}



/*/////////////////OccultView*/

.occultView {
  position: fixed;
  z-index: 11; /* assez élevé pour être au-dessus */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1); /* un noir léger, sinon trop sombre */
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.occultView.open {
  opacity: 1;
  visibility: visible;
}

.occultView.Calendar {
  min-height: 100vh;
  top: -20px;
}
/*/////////////////OccultView*/


/*/////////////////*Cancel*/
.PopUpBottom .bodyPopUpBottom>p{
    text-align: center;
}

/*/////////////////*Participant*/
.PopUpBottom .bodyPopUpBottom>.rowTotal{
  display: flex;
  flex-direction: row;
  gap: 5px;
  /* margin-top: 15px; */
}
.PopUpBottom .bodyPopUpBottom>p>strong{
    color: var(--greennormal);
    font-weight: 100;
}
.PopUpBottom .bodyPopUpBottom>p>strong.short{
    color: var(--rednormal);
    font-weight: 100;
}



/*//////////////Login*/
.PopUpBottom .LoginContainer{
  --borderradius: 6px;
  padding: 15px;
}





/*//////////////General Terms */
.PopUpBottom .generalTerms{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  padding-bottom: 10px;
}

.PopUpBottom .generalTerms>img{
  width: 50%;
  left: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.PopUpBottom .generalTerms>.column{
  gap: 10px;
  margin-top: 15px;
  width: 100%;
}
.PopUpBottom .generalTerms>.column>button{
  /* background: var(--lineargradientblack); */
  background: var(--lineargradientgreen);
  padding: 7px 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 auto;
  /* margin-top: 5px; */
  width: 100%;
}
.PopUpBottom .generalTerms>.column>button:first-of-type{
  background: none;
  border: 1px solid var(--greysemidark);
}

.PopUpBottom .generalTerms a{
  color: var(--greydark);
  text-decoration: none;
  font-weight: bold;
}
.PopUpBottom .generalTerms>h3{
  text-align: center;
  color: var(--greydark);
}

.PopUpBottom .generalTerms>p{
  text-align: center;
}