.duration-slider {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.duration-slider>.t4{
    padding-bottom: 2px;
}
/* 
.durationType{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.durationType p{
    margin-right: 5px;
    margin-top: 10px;
}

.durationType button{
    background-color: transparent;
    border: none;
    margin-right: 5px;
    margin-left: 0px;
    opacity: 0.2;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.durationType button.selected{
    background-color: transparent;
    border: none;
    opacity: 1;
}
.durationType img{
    height: 40px;
    width: 40px;
    cursor: pointer;
    align-self: center;
} */



.duration-slider .track-wrapper {
  position: relative;
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* .duration-slider .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 3px;
  outline: none;
  position: relative;
  z-index: 2;
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 30px;
  background-color: var(--greyverylight);
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  margin-bottom: 0%;
} */
.duration-slider .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  outline: none;
  position: relative;
  z-index: 2;
  /* padding: 1px 16px; */
  font-size: 14px;
  /* border: 1px solid #ddd; */
  border-radius: 30px;
  background-color: var(--greydark);
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  margin-bottom: 0%;
}

/* THUMB aligné au centre verticalement */
/* .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  cursor: pointer;
  position: relative;
} */
.duration-slider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--lineargradientblack);
  /* border: 1px solid #ccc; */
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  cursor: pointer;
  position: relative;
}

.duration-slider .slider::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
    position: relative;
}

.duration-slider .labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
  margin-top: 10px;
  width: 100%;
}
.duration-slider .labels>p {
  white-space: nowrap;
  display: inline;
  margin-top: 5px;
}