.offerContainer{
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  /* background-color: red; */
  /* margin-bottom: 50px; */
  overflow: hidden;
  position: relative;
}


.offerContainer {
  /* overflow-y: scroll; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.offerContainer::-webkit-scrollbar {
  display: none; 
} 





.OfferPageAnimation{
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 1s ease-in-out;
}
.OfferPageAnimation .ContainerTextWelcome{
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OfferPageAnimation .ContainerTextWelcome>p:nth-of-type(1){
  font-family: "Cookie";
  font-weight: lighter;
  padding: 0%;
}
.OfferPageAnimation .ContainerTextWelcome>.row{
  align-items: end;
  padding-right: 1rem;
  position: relative;
  top: -10px;
}
.OfferPageAnimation .ContainerTextWelcome>.row>p:nth-of-type(1){
  font-family: "Cookie";
  font-weight: lighter;
  padding-right: 10px;
  padding-bottom: 5px;
}
.OfferPageAnimation .ContainerTextWelcome>.row>p:nth-of-type(2){
  font-family: "Playfaire Diplay";
  font-weight: lighter;
}
.OfferPageAnimation .ContainerTextWelcome>p:nth-of-type(2){
  font-family: "Playfaire Diplay";
  font-weight: 100;
  margin-top: 40px;
  opacity: 0.8;
}
.OfferPageAnimation .ContainerTextWelcome>p:nth-of-type(3){
  font-family: "Playfaire Diplay";
  font-weight: 100;
  opacity: 0.8;
}

.OfferPageAnimation > p{
  font-family: "Playfaire Diplay";
  font-weight: 100;
  position: absolute;
  bottom: 10vh;
}













.ReserveContainer{
  position: fixed;
  bottom: 70px;
  width: calc(100vw - 30px);
  left: 15px;
  background-color: white;
  border: 1px solid var(--greylight);
  border-radius: 40px;
  padding: 8px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.5s ease-in-out;
}
.ReserveContainer.pupUp{
  animation: popUpAnimation 0.6s ease-in-out forwards
}
@keyframes popUpAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  66% {
    opacity: 1;
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.ReserveContainer .ReserveButton{
  background-color: var(--greydark);
  border-radius: 40px;
  overflow: hidden; /* ✅ Empêche le carré moche au clic */
  position: relative;
  
}


  /* Style du bouton */
  .ReserveContainer .ReserveButton {
    background: linear-gradient(180deg, #545454, #373737);
    color: #ffffff;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: lighter;
    border: none;
    border-radius: var(--borderradius);
    cursor: pointer;
    transition: background 1s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 8px;
  }
  
  .ReserveContainer .ReserveButton:hover {
    background: linear-gradient(180deg, #373737, #545454);
  }
  


 














.ContainerOfferPageAll{
  width: 100vw;
  padding-top: 60px;
  padding-right: 0!important;
  position: absolute;
  top: 100vh;
  right: 0;
  transition: top 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-bottom: 200px;

}
.ContainerOfferPageAll .OfferTitle{
  text-align: center;
  padding: 10px 8% 15px 8%;
  font-weight: bold;
  font-family: "Inter";
}
.ContainerOfferPageAll .OfferDescription{
  text-align: center;
  padding: 0 8%;
}
.ContainerOfferPageAll .OfferType{
  margin-top: 20px;
  text-align: center;
}

.ContainerOfferPageAll .Offerhline{
  width: 88%;
  height: 1px;
  background-color: var(--greysemidark);
  margin: 20px 6%;
}







.ContainerOfferPageAll .OfferInfoContainer{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
justify-content: center;
  width: 100%;
  gap: 5px;
}
.ContainerOfferPageAll .OfferInfoContainer img{
  width: 18px;
  margin-right: 5px;
}






.ContainerOfferPageAll .DistanceText{
  text-align: center;
  font-family: "Playfaire Display";
  margin-bottom: 10px;
  margin-top: 10px;
}
.ContainerOfferPageAll .OfferDistanceContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 60px;
}
.ContainerOfferPageAll .OfferDistanceContainer .OfferDistanceColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContainerOfferPageAll .OfferDistanceContainer .OfferDistanceColumn>img{
  height: 70px;
}
.ContainerOfferPageAll .OfferDistanceContainer .OfferDistanceColumn>p{
  font-family: "Cookie";
}




.ContainerOfferPageAll .OfferMapContainer{
  margin-top: 30px;
  width: 100%;
  padding: 0 6%; 
  height: 30vh;
}

.ContainerOfferPageAll .OfferMapContainer .OpenInMapsBtn{
  color: var(--greydark);
  margin-top: 10px;
  display: block;
  width: fit-content;
}

.ContainerOfferPageAll .SquelletteMap{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--greylight); /* ou un gris très clair */
  border-radius: 40px;
}
.ContainerOfferPageAll .SquelletteMap .shimmer {
  position: absolute;
  top: -25%;
  left: -150%;
  width: 30%;
  height: 150%;
  transform: rotate(10deg);
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  animation: shimmerMove 2s linear infinite;
}

@keyframes shimmerMove {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}




