.BecomeProviderAll>.BecomeProviderEtape{
    /* background-color: orange; */
    position: fixed;
    z-index: 3;
    top: 3px;
    right: 35px;
}
.BecomeProviderAll>.BecomeProviderEtape>p{
    height: 12px;
    width: 12px;
    margin: 10px;
}  








.BecomeProviderAll:has(.BecomeProviderPage2){
    overflow: scroll;
}
.BecomeProviderPage2{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    padding-top: 120px;
}
.BecomeProviderPage2>.titleContainer{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}















/* Cible l'input à l'intérieur de PhoneInput///////////////////////////////////////// */
.PhoneInputInput {
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid var(--greymiddledark);
  border-radius: 30px;
  background-color: var(--greyverylight);
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  color: var(--greydark);
}

.PhoneInputInput:focus {
  border-color: var(--greymiddledark);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Conteneur général */
/*
.PhoneInput {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}*/

/* Sélecteur de pays */
.PhoneInputCountry {
  border: 1px solid var(--greymiddledark);
  border-radius: 8px;
  padding: 5px 8px;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.2s;
  margin-left: 15px;

}

.PhoneInputCountry:focus-within {
  border-color: var(--greymiddledark);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style du drapeau (facultatif) */
/*.PhoneInputCountryIcon {
  display: none !important;
}
*/
  
/* Cible l'input à l'intérieur de PhoneInput///////////////////////////////////////// */











.BecomeProviderPage2 .PreviewContainer{
    border: 1px solid var(--greysemidark);
    width: 80%;
    max-width: 250px;
    padding: 30px 10px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.BecomeProviderPage2 .PreviewContainer>img{
    width: 100px;
}
.BecomeProviderPage2 .PreviewContainer>.PreviewTitle{
    background-color: var(--greylight);
    width: 80%;
    max-width: 100px;
    height: 20px;
    /* align-self: flex-start; */
    border-radius: 5px;
}
.BecomeProviderPage2 .PreviewContainer>.PreviewDescription{
    background-color: var(--greylight);
    width: 100%;
    height: 60px;
    border-radius: 5px;
}
.BecomeProviderPage2 .PreviewContainer>p{
    word-wrap: normal;/*////////////////////////////////////////////////////////*/
}


.hlinePartner{
    width: calc(100% - 30px);
    margin: 30px 15px;
    height: 1px;
    background-color: var(--greysemidark);
}




.BecomeProviderPage2>form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  padding-top: 15px;
}
.BecomeProviderPage2>form>.t4{
  padding-top: 30px;
}

.BecomeProviderPage2>form .InputText{
  border: 1px solid var(--greysemidark);
  padding: 12px 10px;
  color: var(--greydark);
  border-radius: 10px;
  margin-top: 8px;
}
.BecomeProviderPage2>form .InputText:focus {
  outline: none;
  border: 1px solid var(--greysemidark);
  padding: 12px 10px;
  border-bottom: 1px solid var(--greysemidark); /* facultatif ici, redéfini juste au cas où */
}

.BecomeProviderPage2>form>.DescriptionInput{
  border: none;
  border: 1px solid var(--greysemidark);
  padding-bottom: 2px;
  padding-top: 5px;
  color: var(--greydark);
  margin-top: 5px;
  padding: 8px 10px;
  padding-bottom: 10px;
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
}
.BecomeProviderPage2>form>.DescriptionInput:focus {
  outline: none;
  border-bottom: 1px solid var(--greysemidark); /* facultatif ici, redéfini juste au cas où */
}

.BecomeProviderPage2>form>.RightInfo {
  text-align: right;/* facultatif ici, redéfini juste au cas où */
  margin-top: 4px;
  margin-right: 5px;
}





.BecomeProviderPage2 label{
    padding-left: 4px;
    padding-right: 4px;
}
.BecomeProviderPage2>form>.row {
  margin-top: 30px;
}

.BecomeProviderPage2 .CreateOfferAddPhotos{
  width: 80%;
  max-width: 250px;
  min-width: 200px;
  background-color: var(--greyverylight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px dashed var(--greymiddledark); /* couleur et épaisseur à ajuster */
  border-radius: 20px; /* optionnel pour des coins arrondis */
  padding: 30px; 
  cursor: pointer;
  margin-bottom: 100px;
  margin-top: 8px;
}

.BecomeProviderPage2 .CreateOfferAddPhotos>img{
  width: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 0.6;
}
.BecomeProviderPage2 .CreateOfferAddPhotos>p{
  color: var(--greydark);  
}


.BecomeProviderPage2 .PreviewImageContainer>img{
    width: 80%;
    max-width: 250px;
    min-width: 200px;
    height: 130px;
    object-fit: cover;
}