/*///////////////////////////List Offer Prestation HomeListPrestationItem///*/
.HomeListPrestation{
  display: flex;
  flex-direction: row;
  padding: 15px;
  padding-bottom: 20px;
  margin: 0%;
  column-gap: 10px;
  overflow: scroll;
}

.HomeListPrestation.vertical{
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
}

.HomeListPrestation.vertical .HomeListPrestationItem{
    min-width: 100%; 
    height: auto;
    aspect-ratio: 1.3;
}
.HomeListPrestation.vertical .HomeListPrestationItem .ImageContainer{
    height: auto;
    aspect-ratio: 2;
}
.HomeListPrestation.vertical .HomeListPrestationItem .ImageContainer>img{
    height: auto;
}
.HomeListPrestation {
  /* ...tes styles existants */
  scrollbar-width: none;            /* Firefox */
  -ms-overflow-style: none;         /* IE/Edge */
}

.HomeListPrestation::-webkit-scrollbar {
  display: none;                    /* Chrome, Safari */
}


.HomeListPrestationItem .ImageContainer>img.loading{
  opacity: 0;
  transition: opacity 0.4s ease;
} 
.HomeListPrestationItem .ImageContainer>img.loaded{
  opacity: 1;
  transition: opacity 0.4s ease;
} 

.HomeListPrestationItem{
  border-radius: 32px;
  /* border: 1px solid var(--greysemidark); */
  min-height: 250px; 
  height : 250px;
  
  padding: 4px;
  /* box-shadow: 0 2px 20px rgba(0, 0, 0, 0.07);  */
  box-shadow: var(--boxshadow);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  overflow: hidden; /* pour ne pas dépasser */
  background-color: white; /* ou autre */

  display: flex;
  flex-direction: column;
  min-height: 240px;
  min-width: max(60%, 180px); 

  max-width: 300px;
}
.HomeListPrestationItem.Today{
  background-color: red;
}
.HomeListPrestationItem .isFreeCancelation{
  margin-top: 5px;
  color: var(--greennormal);
}
.HomeListPrestationItem .ImageContainer{
  position: relative; 
  overflow: hidden;
  min-height: 120px;
  height: 120px;
  min-width: 100%;
  border-radius: 28px; 
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--greylight);
} 
.HomeListPrestationItem .ImageContainer>img{
  height: 120px;
  width: 100%;
  border-radius: 28px; 
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  object-fit: cover;
  background-color: var(--greylight);
} 
.HomeListPrestationItem .ImageContainer>img.loading{
  opacity: 0;
  transition: opacity 0.4s ease;
} 
.HomeListPrestationItem .ImageContainer>img.loaded{
  opacity: 1;
  transition: opacity 0.4s ease;
} 


.HomeListPrestationItem .ImageContainer>button{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  padding: 4px;
  cursor: pointer;
}
.HomeListPrestationItem .ImageContainer>button>img{
  height: 20px;
  width: 20px;
}  

.HomeListPrestationItem>div{
  height: 100%;
  /* min-height: 230px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HomeListPrestationItem .containerTopBottom{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  /* height: 100%; */
  padding-bottom: 8px;
  gap: 3px;
}
.HomeListPrestationItem .t5{
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  display: -webkit-box;
  -webkit-line-clamp: 3;         /* ← le nombre de lignes max */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.HomeListPrestationItem .t6{
  margin-left: 10px;
}
.HomeListPrestationItem .HomeStarList{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}
.HomeListPrestationItem .HomeStarList>img{
  width: 14px;
  height: 14px;
}
.HomeListPrestationItem .HomeStarList>P{
  font-size: 0.7rem;
  margin-left: 5px;
  margin-top: 0%;
}

 










/* Ce bloc est flouté */
.HomeListPrestationItem .flou-interne {
  filter: blur(6px);
  opacity: 0.6; /* optionnel */
  pointer-events: none;
}
.HomeListPrestationItem .seeMore{
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  /* font-family: "Playfaire Display"; */
  /* font-weight: bolder; */
    font-family: "Playfaire Display";

  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px 18px;
  color: white;
  background: linear-gradient(180deg, #545454, #373737);
  border-radius: 100px;
  /* box-shadow:
   -4px -4px 6px rgba(255, 255, 255, 0.3),
    5px 8px 20px rgba(0, 0, 0, 0.3),
    inset -4px -4px 20px rgba(0, 0, 0, 8),
    inset 4px 4px 7px rgba(255, 255, 255, 0.5);  */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3)
}
.seeMore strong {
  font-family: "Cookie";
  font-size: 2.25rem;
  font-weight: 100;
  position: relative;
  top: 0; /* ← retire ce que tu avais ici */
  margin-left: 5px;
}






.HomeListPrestationItem .skeleton-image{
  background-color: var(--greylight);/*greysemidark*/
  position: relative; 
  overflow: hidden;
  min-height: 120px;
  height: 120px;
  min-width: 100%;
  border-radius: 28px; 
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.HomeListPrestationItem .skeleton-title{
  background-color: var(--greylight);/*greysemidark*/
  min-height: 20px;
  width: 80%;
  border-radius: 28px; 
  margin-top: 10px;
  margin-left: 10px;
}
.HomeListPrestationItem.loading>.containerTopBottom{
  height: 200px;
  /* background-color: red; */
}
.HomeListPrestationItem .skeleton-details{
  background-color: var(--greylight);/*greysemidark*/
  min-height: 15px;
  width: 50%;
  border-radius: 28px; 
  margin-top: 20px;
  margin-left: 10px;
}



.HomeListPrestation .GoFilterContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.HomeListPrestation .GoFilterNull{
  background-color: transparent;
  border: none;
}

.HomeListPrestation .GoFilterNull{
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 0px 18px;
  background: linear-gradient(180deg, #545454, #373737);
  border-radius: 100px;
  /* box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3px;
  cursor: pointer;
}
.HomeListPrestation .GoFilterNull>p {
  color: white;
  font-family: "Playfaire Display";
  text-align: center;

}
.HomeListPrestation .GoFilterNull strong {
  font-family: "Cookie";
  font-size: 2rem;
  font-weight: 100;
  position: relative;
  top: 2px; /* ← retire ce que tu avais ici */
  margin-left: 5px;
}