.ContainerListeEmplacementActif{
    margin: 0 20px;
    padding: 20px;
    padding-top: 30px;
    border-radius: 20px;
    background-color: white;
  }
  
  .ContainerListeEmplacementActif>.t4{
    padding: 0 10px 10px 10px;
    color: var(--greydark);
  }
  
  .ContainerListeEmplacementActif>.search-container{
    padding: 0 10px;
  }
  
  .search-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }
    
    .search-container input {
      padding-left: 35px;
      height: 32px;
      width: 100%;
      background-color: var(--greylight);
      border: 1px solid white;
      border-radius: 4px;
      color: var(--blacknormal);
      transition: border 0.3s ease, background-color 0.3s ease;
    }
    
    .search-container input:focus {
      background-color: white;
      border: 1px solid var(--bluenormal);
      outline: none;
    }
    
  
    .search-icon {
      position: absolute;
      left: 20px;
      width: 16px;
      height: 16px;
      pointer-events: none;
    }
    
  
  
  
  
  
  
  
  .FilterContainer{
    display: flex;
    position: relative;
  }
  
  .FilterButton{
    display: flex;
    align-items: center;
    background-color: var(--greylight);
    padding: 7px 10px;
    margin: 0 8px;
    border-radius: 4px;
    color: var(--greydark);
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
  
  .FilterButton img:first-of-type{
    width: 14px;
    height: 14px;
    margin-right: 3px;
    opacity: 0.7;
  }
  
  .FilterButton img:last-of-type{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    opacity: 0.7;
  }
  
  .OptionFilterContainer{
      position: absolute;
      width: 200px;
      background-color: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding-top: 15px;
      padding-bottom: 10px;
  
  }
  
  .OptionFilterContainer label{
    display: block;
    margin-bottom: 5px;
    
    padding: 0 15px;
  }
  
  .select-wrapper {
    margin: 0 15px;
    position: relative;
  }
  
  .select-wrapper select{
    appearance: none; 
    background-color: var(--greylight);
    padding-right: 20px; 
    padding-left: 10px; 
    padding: 8px 20px 8px 10px;
  
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    border-radius: 6px;
  
  }
  
  
  .select-wrapper select:focus {
    border: none;
    outline: none;
    box-shadow: none; /* facultatif ou mets "none" */
  }
  
  
  .select-wrapper .arrow-icon {
    position: absolute;
    top:  calc(50% - 10px);
    right: 10px;
    width: 12px;
    height: 12px;
    pointer-events: none; /* pour ne pas bloquer les clics sur le select */
    transform: rotate(0deg);
    transition: transform 0.2s ease;
  }
  
  .Hline{
    width: 100%;
    height: 1px;
    margin: 10px 0px;
    background-color: var(--greysemidark);
  }
  .applyButton{
    width: calc(100% - 30px);
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    margin: 0 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    color: white;
    background-color: var(--bluenormal);
    cursor: pointer;
  }
  
  
  
  
  
  
  
  
  
  
  .ExportContainer{
    display: flex;
    position: relative;
  }
  
  
  .ExportButton{
    display: flex;
    align-items: center;
    background-color: var(--greylight);
    padding: 7px 10px;
    border-radius: 4px;
    color: var(--greydark);
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
  
  .ExportButton img:first-of-type{
    width: 14px;
    height: 14px;
    margin-right: 6px;
    opacity: 0.7;
  }
  
  .ExportButton img:last-of-type{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    opacity: 0.7;
  }
  
  .OptionExportContainer{
    position: absolute;
    left: -20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  
  .OptionExportContainer button{
    width: 150px;
    padding: 10px 15px 10px 0;
    border: none;
    /* border-bottom: 1px solid var(--greylight); */
    background-color: transparent;
    cursor: pointer;
  }
  
  .hline{
    background-color: var(--greysemidark);
    height: 1px;
    width: 100%;
  }
  
  .hlineExport{
    margin: 0 10px;
    width: calc(100% - 25px);
  }
  /* .OptionExportContainer button:first-of-type{
    padding-top: 20px;
  }
  .OptionExportContainer button:last-of-type{
    padding-bottom: 10px;
  } */
  
  .OptionExportContainer button:hover{
    background-color: var(--greylight);
  }
  
  
  
  .arrow-icon {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  
  .arrow-icon.rotated {
    transform: rotate(-90deg);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* /////////////////////////// ListeEmplacement */
  .ListEmplacementContainer {
    margin-top: 20px;
  }
  
  .emplacementTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    color: var(--blacknormal);
  }
  
  .emplacementTable th {
    text-align: left;
    padding: 12px 10px;
    background-color: var(--greylight);
    color: var(--blacknormal);
    font-weight: 600;
  }
  
  .emplacementTable td {
    padding: 15px 5px;
    border-bottom: 1px solid #e9ecef;
    
  }
  
  .id {
    color: var(--bluenormal);
    font-weight: bold;
    cursor: pointer;
  }
  
  .etat {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 0.7rem;
    font-weight: 500;
  }
  
  .etat.actif {
    background-color: #d1f7d1;
    color: #2c7a2c;
  }
  
  .etat.attente {
    background-color: #fef7cb;
    color: #b58900;
  }
  
  #thAction{
    text-align: start;
  }
  
  td.actions{
    padding: 0;
    white-space: nowrap; 
  }
  
  .actions button{
    margin: 0 5px;
    padding: 10px 2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .actions button img{
    width: 15px;
    height: 15px;
  }
  
  
  
  .SeeAllContainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  #SeeAll{
    background-color: var(--bluenormal);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  #SeeAll img{
    height: 15px;
    width: 15px;
  }
  
  #SeeAll p{
    color: white;
    font-weight: bolder;
  }