.TodayReservationPage{
    background-color: white;
    height: 100vh;
}

.TodayReservationPage .TodayweekContainer{
    display: flex;
    flex-direction: column;
    padding: 0 6%;
    padding-top: 30px;
    gap: 10px;
    padding-bottom: 50px;
    background-color: var(--greylight);
    position: sticky;
    top: 0;
}

.TodayReservationPage .Today7date{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}
.TodayReservationPage .Today7date>div{
    gap: 10px;
    align-items: center;
    width: 12%;
}
/* .TodayReservationPage .Today7date>div>p{
    margin-bottom: 10px;
} */

.TodayReservationPage .Today7date button{
    color: var(--greydark);
    width: 100%;
    min-width: 30px;
    aspect-ratio: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid transparent;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;
}
.TodayReservationPage .Today7date button.selected{
    background-color: white;
    border-color: var(--greysemidark);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    animation: popIn 0.7s ease-in-out;
}

@keyframes popIn {
    0% {
        transform: scale(0.9);
    }
    65%{
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }
}

.TodayReservationPage .TodayweekContainer .MonthSquelette{
    width: 25%;
    height: 2.4rem;
    background-color: var(--greyverylight);
    border-radius: 10px;
}
.TodayReservationPage .TodayweekContainer .DaySquelette{
    background-color: var(--greyverylight);
    border-radius: 7px;
    align-items: center;
    /* width: 12%; */
    width: 70%;
    height: 1rem;
}

.TodayReservationPage .TodayweekContainer .DayButtonSquelette{
    background-color: var(--greyverylight);
    width: 100%;
    min-width: 30px;
    aspect-ratio: 1;
    border-radius: 10px;
}
.TodayReservationPage .TodayweekContainer .ReservationSquelette{
    background-color: var(--greysemidark);
    width: 8px;
    height: 8px;
    border-radius: 100px;
    opacity: 0.6;
}




.TodayReservationPage .Today7date .isReservation{
    width: 8px;
    height: 8px;
    background-color: var(--greydark);
    opacity: 0.4;
    border-radius: 100px;
    /* background-color: var(--greennormal); */
    background-color: var(--greenflash);;
}


.TodayReservationPage .reservationList{
    background-color: white;
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-top: 1px solid var(--greysemidark);
    position: relative;
    top: -30px;
    padding-bottom: 80px;
}
.TodayReservationPage .barToScroll{
    height: 5px;
    width: 50px;
    border-radius: 80px;
    background-color: var(--greylight);
    margin: 0 auto;
    margin-top: 15px;
    border: 1px solid var(--greysemidark);
    margin-bottom: 20px;
}

.TodayReservationPage .reservationList>.SlotReservation{
    padding: 20px 6%;
    padding-left: 3%;
    gap: 20px;
    align-items: stretch; /* 👈 important pour que la ligne prenne bien toute la hauteur */
}


/* .TodayReservationPage .reservationList>.SlotReservation>p{
    margin-bottom: 10px;
    color: var(--yellownormal);
    border: 1px solid var(--greysemidark);
    width: fit-content;
    padding: 5px 13px;
    border-radius: 100px;
    font-weight: 500;
    color: var(--greydark);
} */
.TodayReservationPage .SlotReservation>.row{
    align-items: stretch;
}

.TodayReservationPage .SlotReservation .AllCreneauReserved{
    gap: 40px;
    width: 100%;
}

.TodayReservationPage .SlotReservation .Creneau{
    font-weight: bolder;
    padding-bottom: 4px;
    border: 1px solid var(--greysemidark);
    width: fit-content;
    padding: 5px 13px;
    border-radius: 100px;
    font-weight: 500;
    color: var(--greydark);
}
.TodayReservationPage .SlotReservation.completed .Creneau{
    background-color: var(--greylight);
    /* opacity: 0.4; */
}
.TodayReservationPage .SlotReservation.completed{
    opacity: 0.4;
    filter: grayscale(100%);
}


.TodayReservationPage .SlotReservation .CreneauColumn{
    align-items: start;
    min-width: 60px;
}
.TodayReservationPage .SlotReservation .CreneauColumn>p{
    border-radius: 100px;
    padding: 5px 12px;
    border: 1px solid var(--greysemidark);
    white-space: nowrap;
    margin-bottom: 8px;
}
.TodayReservationPage .SlotReservation .CreneauColumn>.column{
    height: 100%;
    align-items: center;
}
.TodayReservationPage .SlotReservation .CreneauColumn .lineHorrizontal{
    /* height: 100%; */
    height: 100%;
    width: 1px;
    background-color: var(--greysemidark);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 15px;
}


.TodayReservationPage .upcoming .Creneau{
    background: var(--lineargradienyellow);
}
.TodayReservationPage .upcoming .lineHorrizontal{
    background: var(--lineargradienyellow);
    width: 6px!important;
    border-radius: 10px;
    border: 1px solid var(--greysemidark);
}

.TodayReservationPage .ongoing .Creneau{
    background: var(--lineargradientgreen);
    /* width: 6px!important; */
    border-radius: 10px;
    border: 1px solid var(--greysemidark);
}
.TodayReservationPage .ongoing .lineHorrizontal{
    background: var(--lineargradientgreen);
    width: 6px!important;
    border-radius: 10px;
    border: 1px solid var(--greysemidark);
}

/* 
.TodayReservationPage .ReservationItem .allImages{
    aspect-ratio: 16/4;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}
.TodayReservationPage .ReservationItem .allImages>img{
    position: relative;
}
.TodayReservationPage .ReservationItem .allImages>img{
    --cote: min(80px, 15%);
    position: relative;
    border-radius: 10px;
    width: var(--cote);
    aspect-ratio: 1;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
} */


.TodayReservationPage .ReservationItem{
    width: 100%;
}


.TodayReservationPage .ReservationItem .allImages{
    aspect-ratio: 16/4;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: start;
    margin-left: 15px;
    margin-top: 10px;
}

.TodayReservationPage .ReservationItem .allImages>.ImageWrapper {
 --cote: min(80px, 30%);
  width: var(--cote);
  aspect-ratio: 1;
  border-radius: 10px;
  margin-left: -15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  background-color: var(--greylight);
}


.TodayReservationPage .ReservationItem .allImages>.ImageWrapper>img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border: 3px solid white;
  border-radius: 10px;
  background-color: var(--greylight);
}
.TodayReservationPage .ReservationItem .allImages>.ImageWrapper>img.loading{
  opacity: 0;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
  transition: opacity 0.4s ease;
}
.TodayReservationPage .ReservationItem .allImages>.ImageWrapper>img.loaded{
  opacity: 1;
  box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.1);
  transition: opacity 0.4s ease;
} 

/* .TodayReservationPage .ReservationItem .allImages>div {
    background-color: var(--greylight);
    border: 1px solid var(--greysemidark);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    position: relative;
    margin-left: -15px;
} */

.TodayReservationPage .ReservationDetail .rowParticipant>div>img{
    height: 15px;
    width: 15px;
    opacity: 0.3;
}





.TodayReservationPage .ReservationItem .ReservationDetail{
    width: 100%;
    height: auto;
}
.TodayReservationPage .ReservationItem .ReservationDetail>p:nth-of-type(2) {
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;       /* Nombre de lignes max */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

.TodayReservationPage .ReservationDetail>.adresse{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 5px;
}
.TodayReservationPage .ReservationDetail>.adresse>img{
    height: 13px;
}
.TodayReservationPage .hlinedashed{
    height: 1px;
    /* background-color: var(--greysemidark); */
    border-bottom: 1px dashed var(--greysemidark);
    border-image: repeating-linear-gradient(to right, var(--greysemidark) 0, var(--greysemidark) 5px, transparent 5px, transparent 10px);
    border-image-slice: 1;
    margin: 10px 0;
}





.TodayReservationPage .rowParticipant{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: start;
    margin-left: 15px;
    margin-top: 10px;
}
.TodayReservationPage .rowParticipant>img {
  width: 40px;       
  height: 40px;
  border-radius: 50%;
  margin-left: -15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.TodayReservationPage .rowParticipant img:first-child {
  margin-left: 0;
}
.TodayReservationPage .ReservationDetail .rowParticipant>div {
    background-color: var(--greylight);
    border: 1px solid var(--greysemidark);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    position: relative;
    margin-left: -15px;
}
.TodayReservationPage .ReservationDetail .rowParticipant>div>img{
    height: 15px;
    width: 15px;
    opacity: 0.3;
}
.TodayReservationPage .ReservationDetail button{
    border: none;
    background-color: transparent;
    margin-left: auto;
}

.TodayReservationPage .ReservationDetail>.row{
    align-items: center;
    justify-content: space-between;
}



.TodayReservationPage .SpinnerContainer{
    width: 100%;
    max-width: 500px;
    height:  calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 160px;
}
.TodayReservationPage .NoCreneau{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%);
    height:  calc(100vh - 200px);
    top: 160px;
}
.TodayReservationPage .NoCreneau>p{
    text-align: center;
    margin-bottom: 15px;
}
.TodayReservationPage .NoCreneau>p:first-of-type{
    font-weight: bold;
    margin-bottom: 5px;
}

.TodayReservationPage .whiteButton{
    width: fit-content;
    padding: 8px 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--greysemidark);
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.05),
        inset 0 -3px 1px rgba(0, 0, 0, 0.04);
}

