
.AllIban input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.2;
}
.AllIban input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.2;
}
.AllIban input::placeholder {
  letter-spacing: 0;
}





input.IBAN-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    margin-bottom: 0;
}
input.IBAN-input::placeholder {
    letter-spacing: 2px;
}
input.IBAN-input.no-letter-spacing::placeholder{
    letter-spacing: 0px;
}


input.IBAN-input:focus {
    outline: none;
    border: 1px solid var(--greysemidark);
    border-color: var(--greysemidark);
    border-bottom: none;
    box-shadow: none;
}





.IbanCheckerWrapper{
    position: relative;
    padding: 12px 10px;
    color: var(--greydark);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #ddd;
    /* width: 40%; */
    width: 100%;
    flex: 1;
    margin-bottom: 8px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45px;
    min-height: 40px;
}

.IbanCheckerWrapper .RealInput {
  position: absolute;
  top: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 45px;
  opacity: 1;
  color: transparent;
  caret-color: black;
  background-color: transparent;
  border: none;
  font-size: 16px;
  letter-spacing: 2px;
}

.IbanCheckerWrapper .RealInput:focus {
  outline: none;
}



.IbanCheckerWrapper .IbanVisual{
    position: absolute;
    left: 10px;
    display: flex;
    flex-direction: row;

}.char-block.first-letter {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.char-block.last-letter {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.IbanCheckerWrapper .char-block {
    font-size: 16px;
    letter-spacing: normal;

    width: fit-content; /* agrandi un peu si besoin */
    height: 20px;
    padding: 0 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 4px; */
}
.IbanCheckerWrapper .char-block.valid{
    background-color: rgba(0, 255, 17, 0.4);
}
.IbanCheckerWrapper .char-block.invalid{
    background-color: rgba(255, 9, 9, 0.288);
}
