.BottomNavBar{
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 50px;
    width: 100vw;
    z-index: 2;
    background-color: white;
    border-top: 1px solid var(--greylight);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
    bottom: -200px;
}

.BottomNavBarNotAnimate{
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 60px;
    width: 100vw;
    z-index: 2;
    background-color: white;
    border-top: 1px solid var(--greylight);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
    bottom: 0px;
}

.NavBarButton{
    border: 0;
    background-color: transparent;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    /* padding-bottom: 6px; */
}
 


.IconWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.IconWrapper img{
    width: 30px;
    opacity: 0.2;
    transition: all 0.4s ease;
}
.IconWrapper p{
    position: relative;
    opacity: 0.6;
    top: 0px;
    transition: all 0.4s ease;
}   


.IconWrapper.active img {
  /* width: 30px; */
  opacity: 100;
    transform: scale(1.35);
}
.IconWrapper.active p {
    top: 4px;
    opacity: 1;
    /* font-size: 0.6rem;  */
}

/*
.IconWrapper.active {
  background: linear-gradient(180deg, #545454, #373737);
  border-radius: 15px;
  width: 50px;
  height: 50px;
  box-shadow:
   -4px -4px 6px rgba(255, 255, 255, 0.3),
    5px 8px 20px rgba(0, 0, 0, 0.3),
    inset -4px -4px 20px rgba(0, 0, 0, 8),
    inset 4px 4px 7px rgba(255, 255, 255, 0.5); 
}
*/
 
.BottomNavBar.sliderInBottomNav{
  animation: sliderInBottomNav 0.8s ease-out forwards;
}

@keyframes sliderInBottomNav {
    from{
        bottom: -200px
    }

    to {
        bottom: 0px;
    }
}













.MapButton{
  position: fixed;
  bottom: 70px;
  background-color: white;
  border-radius: 13px;
  border: 1px solid var(--greysemidark);
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  animation: MapButtonPopUp 0.8s ease forwards;
  animation-delay: 3.3s;
  opacity: 0;
}

.MapButton img{
  width: 25px;
  height: 25px;
  margin: 10px;
}

@keyframes MapButtonPopUp {
    0% {
        transform:  translateX(-50%) scale(0.7);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        transform: translateX(-50%)     scale(1.15);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%)     scale(1);
                opacity: 1;

    }
}
