.BottomNavBar{
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 100%;
    max-width: 500px;
    z-index: 2;
    background-color: white;
    border-top: 1px solid var(--greylight);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
    bottom: -200px;
}

.BottomNavBarNotAnimate{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    width: 100%;
    max-width: 500px;
    z-index: 4;
    background-color: white;
    border-top: 1px solid var(--greylight);
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.05),
    inset  0 0px 1px var(--greylight);
    bottom: 0px;
    pointer-events: none;
    gap: 10%;
}
.BottomNavBarNotAnimate.Multiple{
  justify-content: space-around;
  gap: 0px;
}
.BottomNavBarNotAnimate.Test.sliderInBottomNav{
  animation: sliderInBottomNav 0.8s ease-out forwards;
}

.BottomNavBarNotAnimate.hidden {
  transform: translateY(100%) translateX(-50%);
  transition: transform 0.3s ease;
}

.BottomNavBarNotAnimate {
  transition: transform 0.3s ease;
}


.NavBarButton{
    border: 0;
    background-color: transparent;
    /* padding: 0 10px; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 20%; */
    /* padding-bottom: 6px; */
    pointer-events: auto;
}
 


.NavBarButton .IconWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.NavBarButton .IconWrapper img{
    height: 35px;
    opacity: 0.2;
    transition: all 0.4s ease;
}
.NavBarButton .IconWrapper p{
    position: relative;
    opacity: 0.6;
    top: 0px;
    transition: all 0.2s ease;
}   


.NavBarButton .IconWrapper.active img {
  /* width: 30px; */
  opacity: 1;
  /* transform: scale(1.15); */
}
.NavBarButton .IconWrapper.active p {
    /* top: 4px; */
    opacity: 1;
    /* font-size: 0.6rem;  */
}

 
.BottomNavBar.sliderInBottomNav{
  animation: sliderInBottomNav 0.8s ease-out forwards;
}

@keyframes sliderInBottomNav {
    from{
        bottom: -200px
    }

    to {
        bottom: 0px;
    }
}













.MapButton{
  position: fixed;
  bottom: 70px;
  background-color: white;
  border-radius: 13px;
  border: 1px solid var(--greysemidark);
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  animation: MapButtonPopUp 0.8s ease forwards;
  animation-delay: 3.3s;
  opacity: 0;
}

.MapButton img{
  width: 25px;
  height: 25px;
  margin: 10px;
}

@keyframes MapButtonPopUp {
    0% {
        transform:  translateX(-50%) scale(0.7);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        transform: translateX(-50%)     scale(1.15);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%)     scale(1);
                opacity: 1;

    }
}
