.BottomNavBar{
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 50px;
    width: 100vw;
    z-index: 2;
    background-color: white;
    border-top: 1px solid var(--greylight);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
      box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);

}

.NavBarButton{
    border: 0;
    background-color: transparent;
    padding: 0 10px;
    cursor: pointer;
}

.NavBarButton img{
    height: 30px;
    width: 30px;
}