.offerContainer{
  width: 100vw;
  min-height: 100vh;
  /* background-color: red; */
  padding-bottom: 80px;
}












.SearchContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100px; */
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 15px 15px;
  z-index: 2;
}

  .StartSearch {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    
    width: 100%;
  }


.continueResearchContainer{
    align-items: center;
    justify-content: start;
    display: flex;
    flex-direction: row;
    padding:  0 0 10px 0;
    width: fit-content;
    cursor: pointer;
  }
  
  .continueResearchContainer img{
    width: 10px;
    margin-right: 3px
  }

  
  
  /* Style des champs de saisie */
  .StartSearch input {
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 30px;
    background-color: var(--greyverylight);
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
  }
  
  .StartSearch input::placeholder {
    color: var(--greymiddledark);
  }
  
  .StartSearch input:focus {
    border-color: var(--greymiddledark);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style du bouton */
  .StartSearch button {
    background: linear-gradient(180deg, #545454, #373737);
    color: #ffffff;
    padding: 7px 16px;
    font-size: 1rem;
    font-weight: lighter;
    border: none;
    border-radius: var(--borderradius);
    cursor: pointer;
    transition: background 1s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .StartSearch button:hover {
    background: linear-gradient(180deg, #373737, #545454);
  }
  




.OptionSearch{
  margin: 15px 0;
  border-radius: 40px;
  border: 1px solid var(--greysemidark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 15px;
  height: 36px;
}

.OptionSearch img{
  width: 20px;
  height: 20px;
  opacity: 0.4;
}















.ContainerAll{
  width: 100vw;
  padding-top: 80px;
}

.CarrouselPhotoContainer{
  padding: 0 15px;
  position: relative;
}
/* 
.CarrouselPhotoContainer.fullSize{
  padding: 0 15px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;

  background-color: orange;
} */

.CarrouselPhotoContainer .BackgroundBlur{
  position: absolute;
  border-radius: 100px;
  bottom:   10px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(7px); 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.CarrouselPhotoContainer .BackgroundBlur img{
  width: 25px;
  height: 25px;
  margin: 8px;
}




.ContainerAll>.t3{
  padding: 10px 15px 0 15px;
  font-weight: 900;
}

.ContainerAll>.t5{
  padding: 0px 15px;
  margin-bottom: 20px;

}


.ContainerAll .StarList{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 5px 15px; 
}

.ContainerAll .StarList img{
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.ContainerAll .StarList .t5{
    margin-left: 5px;
    font-weight: 500;
    text-decoration: underline;
    color: var(--greydark);
}

html {
  scroll-behavior: smooth;/*Animation fluide*/
}

.InfoOfferContainer{
  padding: 15px 15px;
}

.InfoOfferContainer .infoOfferRow{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 5px 0 ;
}

.InfoOfferContainer .infoOfferRow img{
  width: 25px;
  height: 25px;
  margin-right: 8px;
}



.OverviewContainer{
  padding: 15px ;
}
.OverviewContainer .t3{
  padding:  0;
  padding-bottom: 10px;
}

.OverviewItem{
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 10px;
}


.OverviewItem img{
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

.OverviewItem div{
  padding-left: 10px;
}

.OverviewItem div .t5{
  font-weight: 700;
}


.RendezVousMapContainer{
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  background-color: var(--greyverylight);
}

.RendezVousMapContainer.Open{
  height: 400px;
}

.RendezVousMapContainer.Open .RendezVousRow{
  padding-bottom: 10px;
  margin-bottom: 8px;
}

.RendezVousMapContainer .RendezVousRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0%;
}
.RendezVousMapContainer .RendezVousRow img{
  width: 15px;
  height: 15px;
}

.RendezVousMapContainer > div:nth-of-type(2) {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* height: 300px!important; */
}

.RendezVousMapContainer .DistanceRowContainer{
  display: flex;
  flex-direction: row;
  align-items: end;
  padding-top: 10px;
}

.RendezVousMapContainer .DistanceRowContainer img{
  width: 25px;
  height: 23px;
  padding-right: 4px;
}

.RendezVousMapContainer .DistanceRowContainer p{
  padding-right: 15px;
}

.AdresseContainer{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-top: 7px;
}

.AdresseContainer .t6{
  text-decoration: underline;
}

.AdresseContainer button{
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 6px;
  margin-left: 5px;
}

.AdresseContainer img{
  width: 20px;
  height: 20px;
}










.AvisContainer{
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AvisContainer .ListBigStar{
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.AvisContainer .ListBigStar img{
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.AvisContainer .AvisList{
  display: flex;
  flex-direction: row;
  /* background-color: orange; */
  width: 100vw;
  /* margin-top: 30px; */
  padding: 30px 0;
  overflow: scroll;
}

.AvisList .AvisItem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  margin-right: 20px;
  min-width: 75%;
  min-height: 150px;
  padding: 15px;
  /* background-color: orange; */
  border-radius: 20px;
  border: 1px solid var(--greyverylight);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.AvisList .AvisItem:first-of-type{
  margin-left: 20px;
}

.AvisItem .RowNameNote{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.AvisItem .RowNameNote .t6{
  font-weight: 100;
}

.AvisItem .RowNameNote img{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.AvisItem .VerifyAvis{
  /* color: var(--rednormal); */
  padding-bottom: 15px;
}
