.EditProfilContainer{
    /* background-color: red; */
    min-height: 100vh;
    width: 100%;
    padding-bottom: 30px;
}

.EditProfilContainer>.GoBackButton{
    position: fixed;
    z-index: 3;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}
.EditProfilContainer>.GoBackButton>img{
    height: 10px;
    width: 10px;
    margin-right: 3px;
}
.EditProfilContainer>.t2{
    padding-top: 60px;
    padding-left: 20px;
    font-weight: bold;
}

.EditProfilContainer .ImageContainer{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: fit-content;
    border-radius: 200px;
    padding: 15px;
    background-color: var(--beigelight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.EditProfilContainer .ImageContainer>img{
    width: 100px;
    height: 100px;
    border-radius: 200px;
    object-fit: cover;
}
.EditProfilContainer .ImageContainer>.EditPenButton{
    position: absolute;
    top: 10px;
    right: 2px;
    border: none;
    background-color: var(--greylight);
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.3); /* transparent pour voir le flou */
    backdrop-filter: blur(8px); /* effet de flou */
    -webkit-backdrop-filter: blur(8px); 
    cursor: pointer;
}
.EditProfilContainer .ImageContainer>.EditPenButton>img{
    width: 14px;
}

.EditProfilContainer .ImageContainer.have-image{
  padding: 0;
}
.EditProfilContainer .ImageContainer.have-image>img{
    width: 130px;
    height: 130px;
}

.EditProfilContainer .ListInformation{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-top: 50px;
    width: 100%;
}
.EditProfilContainer form .InputText{
  border: 1px solid #ddd;
  padding: 12px 10px;
  color: var(--greydark);
  border-radius: 10px;
  margin-top: 8px;
  width: 100%;
  margin-bottom: 30px;
  font-size: 16px;
}
.EditProfilContainer form .InputText:focus {
  outline: none;
  border: 1px solid var(--greysemidark);
  border-color: var(--greymiddledark);
  padding: 12px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.EditProfilContainer form>.DescriptionInput{
  border: none;
  border: 1px solid var(--greysemidark);
  padding-bottom: 2px;
  padding-top: 5px;
  color: var(--greydark);
  margin-top: 5px;
  padding: 8px 10px;
  padding-bottom: 10px;
  border-radius: 12px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  resize: none;
  margin-bottom: 20px;
}
.EditProfilContainer form>.DescriptionInput:focus {
  outline: none;
  border-bottom: 1px solid var(--greysemidark); /* facultatif ici, redéfini juste au cas où */
}

.EditProfilContainer form>.RightInfo {
  text-align: right;/* facultatif ici, redéfini juste au cas où */
  margin-top: 4px;
  margin-right: 5px;
}
.EditProfilContainer form>.RightInfo.error {
  color: var(--rednormal);
}

.EditProfilContainer form>button {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  border: none;
  gap: 10px;
  margin-top: 20px;
}
.EditProfilContainer form>button>img {
  width: 20px;
  height: 20px;
}


.EditProfilContainer  .SaveButton {
    background: linear-gradient(180deg, #545454, #373737);
    color: #ffffff;
    padding: 7px 16px;
    font-size: 1rem;
    font-weight: lighter;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 1s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    align-self: center;
    font-size: 0.8rem;
    margin-top: 35px; 
    margin-bottom: 50px;
  }
.EditProfilContainer .SaveButton>p {
  color: white;
}
.EditProfilContainer .SaveButton>img {
  width: 15px;
  height: 15px;
}
.EditProfilContainer .SaveButton:hover {
    background: linear-gradient(180deg, #373737, #545454);
  }
  


.EditProfilContainer .ConnexionInfoBox {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 25px;
  /* background-color: var(--greyverylight); */
  /* border: 1px solid var(--greysemidark); */
  border-radius: 10px;
  gap: 10px;
  box-shadow: var(--boxshadow) ;
}
.EditProfilContainer .ConnexionInfoBox>p{
  margin-bottom: 10px;
}
.EditProfilContainer .ConnexionInfoBox>.row{
  justify-content: space-between;
}



.EditProfilContainer .CancellableContainer {
    margin: 0 auto;
    margin-bottom: 30px;
}

.EditProfilContainer .CancellableContainer > p:first-child {
    /* font-weight: bold; */
    margin-bottom: 5px;
}

.EditProfilContainer .CancellableContainer .toggle-button-group{
    margin-top: 10px;
    /* background-color: var(--greylight); */
    width: fit-content;
    border-radius: 8px;
    border: 1px solid var(--greysemidark);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.EditProfilContainer .CancellableContainer .toggle-button-group>button{
    border: none;
    /* background-color: red; */
    padding: 5px 40px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.EditProfilContainer .CancellableContainer .toggle-button-group>button.active{

    /* background-color: white; */
    background: var(--lineargradientgreen);
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.03);
    transform: scale(1.15);
}
.EditProfilContainer .CancellableContainer .toggle-button-group>button.active.non{
    background: var(--lineargradientred );
}
.EditProfilContainer .CancellableContainer .toggle-button-group>button.active>p{
    color: white;
}


.EditProfilContainer .CancellableContainer .toggle-button-group.loading{
    height: 25px;
    width: 200px;
    border-radius: 8px;
    border: none;
    background-color: var(--greylight);
}



.EditProfilContainer .CapaciteContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  gap: 7px;
  margin-bottom: 25px;
}
.EditProfilContainer .CapaciteContainer>.InputText {
  margin-top: 0;
  margin: 0;
  width: 80px;
}