.PayementPageContainer{
  min-height: 100vh;
}

.PayementPageContainer .TitleContainer{
  margin: 0 6%;
  padding-top: 40px;
}
.PayementPageContainer .TitleContainer>p:first-of-type{
  margin-bottom: 5px;
}


.PayementPageContainer .MethodesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 0 6%;
}



.PayementPageContainer .loaderContainer{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
}

/*//////////////////*/
.PayementPageContainer .MethodesContainer>.MethodeItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--greysemidark);
    padding: 15px 15px;
    margin-bottom: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease-in-out;
}
/* .PayementPageContainer .MethodesContainer>.MethodeItem.selected{
    border: 1px solid var(--greymiddledark);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
    background-color: var(--greylight);
} */
.PayementPageContainer .MethodesContainer>.MethodeItem>.row{
    gap: 25px;
}
.PayementPageContainer .MethodesContainer>.MethodeItem>.row>img{
    height: 18px;
}
.PayementPageContainer .MethodesContainer>.MethodeItem>.row>p{
   font-weight: bold;
}

.stripe-form-container {
  width: 100%;
  max-width: 100%;
  padding-bottom: 130px;  
}



.full-width-stripe-container {
  width: 100%;
}


.PayButtonContainer{
  --taillemin: min(250px, 50vw);
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  max-width: var(--maxsize);
  left: 50%;
  transform: translateX(calc(var(--taillemin) * -1));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  /* padding-bottom: 5px; */
  border-top: 1px solid var(--greysemidark);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
  background-color: white;
  max-width: var(--maxsize);
}


.stripe-pay-button {
    background: linear-gradient(180deg, #545454, #373737);
    font-weight: lighter;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    width: fit-content;
    color: white;
    padding: 15px 30px;
    min-width: 220px;
    font-weight: 500;
}
.stripe-pay-button>p{
  color: white;
}
.stripe-pay-button.loaded {
    opacity: 1;
}



#payment-message{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}