
#AnnoncesPage{
    width: 100%;
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 90px;
}

#AnnoncesPage .StatistiqueAnnonces{
    width: 88%;
    height: 300px;
    margin: 0 auto;
    background-color: var(--greyverylight);
    border: 1px solid var(--greysemidark);
    border-radius: 20px;
}
#AnnoncesPage>.row{
    justify-content: space-between;
    padding: 0 15px;
    padding-bottom: 20px;
}
#AnnoncesPage>.row>button{
    padding: 6px;
    background-color: var(--greylight);
    border-radius: 100px;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
#AnnoncesPage>.row>button>img{
    height: 15px;
    width: 15px;
}

#AnnoncesPage>.allAnnonces{
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}

#AnnoncesPage>.allAnnonces .AnnonceItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 20px;
  gap: 10px;
  background-color: transparent;
  cursor: pointer;
}
#AnnoncesPage>.allAnnonces .AnnonceItem>.ImageWrapper{
  --dim: 70px;
  width: var(--dim);
  height: var(--dim); 
  border-radius: 15px;
  background-color: var(--greylight);
  /* box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1); */
  /* border: 3px solid white; */

}
#AnnoncesPage>.allAnnonces .AnnonceItem>.ImageWrapper>img{
  width: var(--dim);
  height: var(--dim); 
  min-width: var(--dim);
  border-radius: 8px;
  object-fit: cover;
  /* border: 3px solid white;  */
}
#AnnoncesPage .AnnonceItem .columnAnnonceOffer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  gap: px;
}
#AnnoncesPage .AnnonceItem .columnAnnonceOffer p{
  text-align: start;
}
#AnnoncesPage .AnnonceItem .columnAnnonceOffer p:first-of-type{
  margin-bottom: 4px;
}
#AnnoncesPage .AnnonceItem .columnAnnonceOffer>.row{
  align-items: start;
  gap: 3px;
}
#AnnoncesPage .AnnonceItem .columnAnnonceOffer img{
  height: 15px;
  width: 15px;
}

#AnnoncesPage .noOffer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 350px;
    height: calc(100vh - 180px);
    top: 40px;
    margin: 0 auto;
}
#AnnoncesPage .noOffer>p{
    text-align: center;
    margin-bottom: 15px;
}
#AnnoncesPage .noOffer>p:first-of-type{
    font-weight: bold;
    margin-bottom: 5px;
}
#AnnoncesPage .blackButton{
    background: linear-gradient(180deg, #545454, #373737);
    color: #ffffff;
    padding: 7px 16px;
    font-size: 1rem;
    font-weight: lighter;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 1s, transform 0.2s;
    display: flex
;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
    width: fit-content;
    align-self: center;
    font-size: 0.8rem;
    margin-bottom: 50px;
    font-weight: 500;
}
#AnnoncesPage .blackButton>p{
  color: white;
}