body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  /* width: 100vw; */
  overflow-x: hidden;
  overflow-y: auto;

}

:root{
  --vh: 100%
}
html, body, #root{
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE */
  height: var(--vh);
  margin: 0;
}
html, body {
  height: 100%;
  overscroll-behavior: contain; 
}


body::-webkit-scrollbar {
  display: none;                 /* Chrome/Safari */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#AppWrapper {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  /* border: 2px solid black; */
  display: flex;/*//////////////////////////*/
  flex-direction: column;/*/////////////////*/
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.04)
}


@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair/Playfair-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair/Playfair-Italic-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Cookie';
  src: url('./assets/fonts/Cookie/Cookie-Regular.ttf') format('truetype');
  font-weight: 500;
}

/* html{
  background-color: red;
}

body{
  background-color: orange;
} */
body{
  background-color: white;
} 

:root{
  --blacknormal: #3A4150;
  --greydark: #4E5562;
  --greymiddledark: #acadb2;
  --greysemidark: #e1e1e2;
  --greylight: #F3F4F6;
  --greyverylight: #FBFBFB;
  --bluelight: #F1F6FE;
  --bluenormal: #5D82EE;
  --redlight: #FFD2D2;
  --rednormal: #ED332A;
  --violetlight: #F3EDFE;
  --violetnormal: #9C5DEE;
  --greenlight: #DFF0D8;
  --greennormal: #50b849;
  --greenflash: #1fd112;
  --yellownormal: #FFD85C;
  --yellowlight: #FFF4C1;
  --beigelight: #ecead94b;
  --beigeverylight: #FCF9F4;

  /* --lineargradientblack: linear-gradient(180deg, #535353, #373737); */
  --lineargradientblack: linear-gradient(180deg, rgb(83, 83, 83), rgb(55, 55, 55));
  --lineargradientgreen: linear-gradient(to bottom, #c4f5c1, #7de276);
  --lineargradientgreenRight: linear-gradient(to right, #b5edb1, var(--greennormal));
  --lineargradientred: linear-gradient(180deg, #fcb3b3, var(--rednormal));
  --lineargradienyellow: linear-gradient(180deg, #f0fcb3, var(--yellownormal));
  --maxsize: 500px;
}



p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: var(--greydark);
}

a{
  color: var(--greydark);
}
.t1{ font-size: 3rem; }
.t2{ font-size: 2rem; }
.t3{ font-size: 1.5rem; }
.t32{ font-size: 1.2rem; }
.t4{ font-size: 1rem; }
.t5{ font-size: 0.825rem; }
.t6{ font-size: 0.7rem; }

.greenColor{
  color: var(--greennormal);
}
.orangeColor{
  color: orange;
}
.redColor{
  color: var(--rednormal);
}

.bold{
  font-weight: bold;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.maxLine {
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* Nombre de lignes max */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column{
  display: flex;
  flex-direction: column;
}

.hline{
  background-color: var(--greysemidark);
  width: 100%;
  height: 1px;
  min-width: 100%;
}

.hline88{
  background-color: var(--greysemidark);
  width: 88%;
  height: 1px;
  margin: 0 auto;
}

.TopDivOpacity{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 100%);
  height: 60px;
  z-index: 2;
}


img.loading{
  opacity: 0;
  transition: opacity 0.4s ease;
} 
img.loaded{
  opacity: 1;
  transition: opacity 0.4s ease;
} 


/*///////////////////shimmer*/
.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    110deg,
    transparent 10%,
    rgb(255, 255, 255) 50%,
    transparent 90%
  );
  animation: shimmer 1s infinite ease-in;
  z-index: 1;
}

@keyframes shimmer {
  0% {
    left: -200%;
  }
  100% {
    left: 200%;
  }
}

.noScroll{
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* Internet Explorer 10+ */
}

.noScroll::-webkit-scrollbar {
  display: none;
}