.PayoutRequest{
    padding-top: 40px;
    padding-bottom: 170px;
}
.PayoutRequest>p:first-of-type{
    text-align: center;
}

.PayoutRequest .SendingNav{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    max-width: var(--maxsize);
    flex-direction: column;
    /* background-color: red; */
    border-top: 1px solid var(--greylight);
    padding: 20px 20px;
    gap: 20px;
    background-color: white;
}
.PayoutRequest .SendingNav>.row{
    align-items: start;
    justify-content: space-between;
}
.PayoutRequest .SendingNav .SendingButton{
    gap: 10px;
    align-self: flex-end;
    background: linear-gradient(180deg, #545454, #373737);
    border: none;
    border-radius: 200px;
    cursor: pointer;
    width: fit-content;
    padding: 15px 30px;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0);
    /* box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3); */
    transition: all 0.2s ease-in-out;
    position: relative;
}
.PayoutRequest .SendingNav .SendingButton:disabled{
    opacity: 0.6;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 3);
    cursor: not-allowed;
}
.PayoutRequest .SendingNav .SendingButton>p{
    color: white;
}
.PayoutRequest .SendingNav .SendingButton>img{
    height: 15px;
    filter: invert(1);
}

.PayoutRequest .MySolde{
    /* box-shadow: var(--boxshadow); */
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.02); */
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05),0 4px 20px rgba(0, 0, 0, 0.02);

    width: calc(100% - 30px);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 15px;
    gap: 5px;
    background-color: var(--greylight);
}
.PayoutRequest .MySolde p{
    text-align: center;
}
.PayoutRequest .MySolde .SoldePricipal{
    padding: 30px 20px;
    background-color: white;
    box-shadow: var(--boxshadow);
    border-radius: 15px;
}

.PayoutRequest .MySolde .SoldInfo{
    height: 60px;
    padding: 10px 0;
}
.PayoutRequest .MySolde .SoldInfo>.column{
    width: 45%;
    justify-content: start;
    padding: 0 15px;
    gap: 3px;
}
.PayoutRequest .MySolde .SoldInfo>.column>p{
    text-align: start;
}

.PayoutRequest .bodyPayoutRequest{
    padding: 0 15px;
    gap: 30px;
}

.PayoutRequest .RecapInfo{
    gap: 30px;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: var(--boxshadow);
}
.PayoutRequest .RecapInfo>.row{
    justify-content: space-between;
    gap: 14px;
    align-items: start;
}
.PayoutRequest .RecapInfo>.row>p:nth-of-type(2){
    text-align: end;
}
.PayoutRequest .RecapInfo>.row>p:first-of-type{
    /* opacity: 0.6; */
}
.PayoutRequest .bodyPayoutRequest .hlinedashed{
    margin: 10px 0;
}
.PayoutRequest .SelectingAmount>p:first-of-type{
    margin-bottom: 5px;
}
.PayoutRequest .SelectingAmount>.row{
    gap: 8px;
    flex-wrap: wrap;
}
.PayoutRequest .SelectingAmount .MontantItem{
    padding: 10px 15px;
    border: 1px solid var(--greysemidark);
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}
.PayoutRequest .SelectingAmount .MontantItem.selected{
    border-color: var(--greydark);
}



.PayoutRequest .VersementMethode>p:first-of-type{
    margin-bottom: 10px;
}

.PayoutRequest .VersementMethode .AddVersementMethode{
    gap: 3px;
    margin-top: 10px;
    cursor: pointer;
    width: fit-content;
}
.PayoutRequest .VersementMethode .AddVersementMethode>img{
    height: 10px;
    width: 10px;
}

.PayoutRequest .VersementMethode .VersementList{
    gap: 10px;
}
.PayoutRequest .VersementItem{
    justify-content: space-between;
    padding: 10px;
    border-radius: 13px;
    border: 1px solid var(--greysemidark);
    transition: all 0.2s ease-in-out;
    align-items: start;
    cursor: pointer;
}

.PayoutRequest .VersementItem>.row{
    gap: 10px;
    align-items: start;
}
.PayoutRequest .VersementItem.selected{
    border: 1px solid var(--greydark);
}
.PayoutRequest .VersementItem.selected .selectedShow{
    border: 1px solid var(--greydark);
}
.PayoutRequest .VersementItem.selected .selectedShow>img{
    opacity: 1;
}

.PayoutRequest .VersementItem .selectedShow{
    padding: 5px;
    border-radius: 100px;
    border: 1px solid var(--greysemidark);
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}
.PayoutRequest .VersementItem .selectedShow>img{
    height: 10px;
    width: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.PayoutRequest .VersementItem .ibanNumber{
    gap: 2px;
}
.PayoutRequest .VersementItem .point{
    height: 5px;
    width: 5px;
    border-radius: 100px;
    background-color: var(--greydark);
}


.PayoutRequest .VersementItem .BankWrapper{
    background-color: var(--greylight);
    padding: 5px 10px;
    border-radius: 7px;
}
.PayoutRequest .VersementItem .BankIcon{
    height: 15px;
    width: 15px;
    opacity: 0.3;
}

.PayoutRequest .VersementItem .Name{
    color: var(--greymiddledark);
}
.PayoutRequest .VersementItem .EditButton{
    width: fit-content;
    padding: 5px 10px;
    /* border: 1px solid var(--greysemidark); */
    border: none;
    border-radius: 100px;
    background-color: var(--greylight);
    gap: 5px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.PayoutRequest .VersementItem .EditButton>img{
    height: 10px;
    width: 10px;
}


.PayoutRequest .SkeletonVersement{
    height: 77.5px;
    width: 100%;
    border: 1px solid var(--greysemidark);
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
}

.PayoutRequest .SkeletonVersement>.row{
    width: fit-content;
    gap: 10px;
    align-items: start;
}

.PayoutRequest .SkeletonVersement .selectedShow{
    padding: 5px;
    border-radius: 100px;
    border: 1px solid var(--greysemidark);
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    height: 22px;
    width: 22px;
}
.PayoutRequest .SkeletonVersement .BankSkeleton{
    height: 31px;
    width: 35px;
    border-radius: 7px;
    background-color: var(--greylight);
}
.PayoutRequest .SkeletonVersement .IBANSkeleton{
    height: 0.8rem;
    width: 10rem;
    border-radius: 4px;
    background-color: var(--greylight);
    margin-top: 0px;
}
.PayoutRequest .SkeletonVersement .TitulaireSkeleton{
    height: 0.8rem;
    width: 4rem;
    border-radius: 4px;
    background-color: var(--greylight);
    margin-top: 4px;
}
.PayoutRequest .SkeletonVersement .ModifieSkeleton{
    height: 22.5px;
    width: 80px;
    border-radius: 100px;
    background-color: var(--greylight);
    margin-top: 4px;
}



.ModifieVersement{
    margin-bottom: 30px;
    margin-top: 20px;
}
.ModifieVersement>.row{
    gap: 10px;
}
.ModifieVersement input {
    margin-bottom: 20px;
}
.ModifieVersement>p:last-of-type{
    color: var(--greymiddledark);
    text-align: center;
    width: 90%;
}


.ModifieVersement .InputText:focus {
    outline: none;
    /* border: 1px solid var(--greysemidark);
    border-color: var(--greymiddledark);
    padding: 12px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}



.PayoutRequest .InfoMessage{
    text-align: center;
    opacity: 0.5;
}
