.OfficalDocumentContainer {
  padding: 30px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.OfficalDocumentContainer>p,h1{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.OfficalDocumentContainer>h1{
    /* font-family: "Playfair Display"; */
    font-weight: 500;
}

.OfficalDocumentContainer h2{
    padding-bottom: 10px;
    padding-top: 30px;
    font-weight: 700;
    font-family: "Playfair Display";
    text-decoration: none;
    text-underline-offset: 3px; 
    text-decoration-thickness: 1px; 
}

.OfficalDocumentContainer h3{
    padding-bottom: 7px;
    padding-top: 10px;
    font-weight: 700;
    font-family: "Playfair Display";
    text-decoration: none;
    text-underline-offset: 3px; 
    text-decoration-thickness: 1px; 
}
.OfficalDocumentContainer h3+ul{
    padding-bottom: 10px;
}
.OfficalDocumentContainer ul{
    margin-left: 20px;
    margin-bottom: 10px;
}

.OfficalDocumentContainer a{
    color: var(--greydark);
    text-decoration: none;
    font-weight: bold;
}