.carouselContainerPrincipal{
    width: 100%;
    /* padding: 15px; */
    /* height: 400px; */
    max-height: 400px;
    /* border-radius: 30px; */
    --heightCarrousel: 400px;
}

.carouselContainerPrincipal .CarouselListPhoto{
    scroll-snap-type: x mandatory;
    display: flex;
    /* -webkit-overflow-scrolling: touch; */
    overflow-x: auto;
    /* border-radius: inherit; */
    /* box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); */
    /* border: 1px solid black; */
}

.carouselContainerPrincipal .CarouselListPhoto {
  /* déjà présent : */
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  /* masque scrollbar proprement : */
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* Internet Explorer */
    align-items: center;
  /* Chrome/Safari */
  width: 100%;
  aspect-ratio: 3 / 2;
}
.carouselContainerPrincipal .CarouselListPhoto::-webkit-scrollbar {
  display: none;
}


.carouselContainerPrincipal .CarouselListPhoto .CarouselPhotoItem{
    scroll-snap-align: center;
    /* border-right: 1px solid black; */
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 60%; */
    min-width: 100%;
    /* background-color: orange; */
    background-color: transparent;
    /*Taille adapté et spécifique à chaque image
    /* max-height: 400px; */
    /* min-height: 300px; */
    /* height: 100%; */

    /* height: 250px; */
    aspect-ratio: 3 / 2;
}
.carouselContainerPrincipal .CarouselListPhoto .CarouselPhotoItem.loaded{
  /* min-height: unset; */
  aspect-ratio: 3 / 2;
}

.carouselContainerPrincipal .CarouselListPhoto .CarouselPhotoItem img{
    display: block;
    height: 100%;
    width: 88%;
    /* margin-left: 6%; */
    object-fit: cover;
    border-radius: 30px;
    /* box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); */
    max-height: 400px;
    /* opacity: 0; */
    border: 1px solid white;
    /* background-color: var(--greylight); */
    transition: all 1s ease-in-out;
}
.carouselContainerPrincipal .CarouselListPhoto .CarouselPhotoItem img.loaded {
  opacity: 1;
  border: 1px solid var(--greymiddledark);
}






.SkeletonOverlay {
  position: absolute;
  border-radius: 30px;
  /* animation: loadingAnimation 2s infinite ease-in-out; */
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.3s ease;
  width: 88%;
  background-color: var(--greylight);
  /* background-color: green; */
  margin: 0 auto;
  height: 100%;
}

.SkeletonOverlay.hide {
  opacity: 0;
}


.carouselContainerPrincipal .LoadingItem{
  position: relative;
  width: 88%;
  background-color: var(--greylight);
  /* background-color: red; */
  border-radius: 30px;
  margin: 0 auto;
  height: 100%;
}
.carouselContainerPrincipal .LoadingItem::after{
  content: "";
  width: 100%;
  height: 100%;
  left: -200%;
  background: linear-gradient(
    110deg,
    transparent 10%,
    rgb(255, 255, 255) 50%,
    transparent 90%
  );
  position: absolute;
  animation: loadingAnimation 2s infinite ease-in-out;
}

@keyframes loadingAnimation {
  0%{
    left: -200%;
  }
  100%{
    left: 200%;
  }
}