/* src/components/Spinner/Spinner.css */

.centerPage{
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
}


.spinner {
    border: 2px solid #f3f3f3; /* Couleur de fond */
    border-top: 2px solid var(--greymiddledark); /* Couleur de la partie animée */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.7s linear infinite;
    display: inline-block;
    margin-left: 10px;
  }

.centerPage .spinner{
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3; /* Couleur de fond */
  border-top: 4px solid var(--greymiddledark);
}

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  